<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Draw_Slopes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Draw_Slopes.Properties.Settings>
            <setting name="txtStep" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="txtOffset" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="txtShortLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="cmbLengthType" serializeAs="String">
                <value>Long / 1 Short</value>
            </setting>
            <setting name="chkIs3D" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkWipeout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cmbCurtainType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="cmbMethod" serializeAs="String">
                <value>Proportional</value>
            </setting>
            <setting name="chkCreateNewLayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtColor" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="chkAutoOrient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtLayer" serializeAs="String">
                <value>C-TOPO-SLOPE</value>
            </setting>
            <setting name="hatchColorIdx" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="chkTriangle" serializeAs="String">
                <value>False</value>
            </setting>
        </Draw_Slopes.Properties.Settings>
    </userSettings>
</configuration>